body,
* {
  margin: 0;
  padding: 0;
}
main {
  background: #e5e5e5;
  background-image: url("img/header-illsutration-mobile@2x.png");
  background-size: cover;
  height: 550px;
}

header {
  padding: 1em;
  background: #e5e5e5;
}

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
