@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Add flexbox row to the header */
.flex-row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add the background Image */
#headline {
  background: #fff;
  background-image: url("img/header-illsutration-mobile@2x.png");
  background-size: 100% 100%;
  padding: 1.5em;
}

/* Add styles to the header section */
header {
  padding: 1em;
  background: #fff;
}

.flex-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Add styles to the headline section */
.dark-blue {
  color: #172b4d;
}

.light-green {
  color: #36b37e;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

/* Add space between headline's div  */
.primary,
.social-media-icons {
  padding-top: 3em;
}

ul.flex-div {
  padding-left: 0;
}

.supporting-text {
  padding-top: 1.5em;
}

.supporting-text > p {
  font-size: larger;
  font-weight: 500;
}

.disabled-btn {
  padding-top: 6em;
}

/* Add styles to the social-media-icons */
li {
  list-style: none;
  margin-right: 1em;
}

/* Add styles to the logo */
.logo {
  text-decoration: none;
  color: #172b4d;
  font-size: x-large;
}

h1,
h2 {
  font-size: xx-large;
}

/* Add styles to the works section grid-layouts + flexbox  */
#my-works h2 {
  text-align: center;
  margin-top: 1em;
}

.project-placeholder {
  background: #ebf0ee;
  height: auto;
  margin: 10px;

  /* Design the grid item */
  border: 2px solid #d0d9d4;
  border-radius: 8px;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 0 2px;
}

.center {
  display: block;
  margin: 2em auto;
}

/* Design the grid container for works section */
.grid-layout {
  box-sizing: border-box;
  width: 75%;
  margin: 2em auto;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-content: center;
  align-content: space-around;
  gap: 1.5em;
}

.properties {
  min-width: 318px;
  height: auto;

  /* Neutrals/N0 */
  background: #fff;
  border-radius: 8px;
  margin: 2px;
  padding-bottom: 15px;

  /* Add flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.properties h3 {
  text-align: center;
  font-size: x-large;
  padding: 0 8px;
  margin: 0;
}

.tags a {
  text-decoration: none;
  font-size: small;
  color: #3a4a42;
  padding: 6px 6px;

  /* Theme 2 / Neutral 10 */
  background: #ebf0ee;
  border-radius: 5px;
}

ul.tags {
  margin: 0;
}

.tags li {
  padding: 1em 0;
}

.see-demo-btn,
.get-CV-btn {
  /* style the button */
  border: 0;
  padding: 12px;
  width: fit-content;
  width: -moz-fit-content;
  height: 48px;

  /* Theme 2 / Primary 2 */
  background: #36b37f;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: large;
  cursor: pointer;
}

.tags a :hover {
  cursor: pointer;
}

/* Add styles to the about me section grid-layouts + flexbox  */

#about-me h2 {
  text-align: center;
  margin: 1em;
  font-size: 250%;
}

#about-me p {
  text-align: center;
  margin: 1em;
  font-size: x-large;
}

#about-me button {
  display: block;
  margin: 1em auto;
}

.skill-placeholder {
  height: auto;
  background: #ebf0ee;
  margin: 15px;

  /* Design the grid item */
  border: 2px solid #d0d9d4;
  border-radius: 8px;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2px;
}

.title-and-tags h3 {
  text-align: center;
  font-size: x-large;
}

.title-and-tags a {
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  color: #36b37e;
  padding: 6px;

  /* Theme 2 / Neutral 10 */
  background: #fff;
  border-radius: 4px;
}

.see-demo-btn:hover,
.get-CV-btn:hover {
  cursor: pointer;
  background: #3ec48c;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  transition: 0.75s;
}

.see-demo-btn:focus,
.get-CV-btn:focus {
  cursor: pointer;
  background: #01a566;
}

.flex-row-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul.skill-tags {
  padding: 0;
}

.skill-tags {
  margin: 2em 0;
}

.skill-tags > li {
  margin-top: 1em;
}

#about-me {
  position: relative;
}

/* Add and fix pngs to the background */
.png1 {
  padding: 2em;
  background-image: url("img/aboutme-img1.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.png2 {
  padding: 2em;
  background-image: url("img/aboutme-img2.png");
  background-repeat: no-repeat;
  background-position: center left;
}

/* style the images of live project demo */

.project-placeholder img {
  width: 100%;
  height: auto;
  padding: 3px;
  border-radius: 5px;
}

/* styling the contact form */
form input,
form textarea {
  display: block;
  padding: 1em;
  margin: 2em 1em;
  width: 80%;
  outline: none;
  border: 1px solid #d0d9d4;
}

form input:focus,
form textarea:focus {
  border: 1px solid #60c095;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#contact-section h2 {
  text-align: center;
  font-weight: bold;
  padding: 2em 1em;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 440px;
}

#form button {
  display: block;
  margin: 0 auto;
}

.form-btn {
  /* style the button */
  border: 0;
  padding: 12px;
  width: fit-content;
  width: -moz-fit-content;
  height: 48px;

  /* Theme 2 / Primary 2 */
  background: #36b37f;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: large;
  cursor: pointer;
}

.form-btn:hover {
  cursor: pointer;
  background: #3ec48c;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  transition: 0.75s;
}

.form-btn:focus {
  cursor: pointer;
  background: #01a566;
}

#contact-section p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  /* or 160% */
  text-align: center;

  /* Neutrals/N500 */
  color: #42526e;
  margin-top: 1em;
  margin-bottom: 3em;
}

.end-shape {
  margin-top: 5em;
  margin-bottom: 1em;
}

#form img {
  position: absolute;
  right: 0;
}

/* change color of the textarea placeholder */

.change::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: black;
}

.change::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}

.change:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}

.change:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

/* Hide desktop version element */
.only-desktop {
  display: none;
}

/* Style the mobile-menu */
#mobile-menu {
  height: 85vh;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  margin-bottom: 2em;
  mix-blend-mode: normal;
  box-shadow: 0 1em 1em rgba(37, 47, 137, 0.08);
}

.fa-times {
  float: right;
  margin: 1.5em;
  font-size: larger;
  color: #67798e;
}

#mobile-menu > ul {
  clear: right;
  padding-left: 0;
}

.menu-link {
  display: block;
  text-decoration: none;
  margin: 1em 1em;
  color: #3a4a42;
  font-size: x-large;
  font-weight: 700;
}

.hidden {
  display: none;
}

/* Use media queries to make my desktop version look like the templateIn figma
(Desktop: 768px or wider). */
@media only screen and (min-width: 768px) {
  /* Standard CSS rules */
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* Hide the header menu button and welcome logo */
  header > a,
  header > img {
    display: none;
  }

  header {
    padding: 0;
  }

  /* Add the headline background  */
  #headline {
    background-image: url("img/desktop-bg/Header-llustration.png");
    background-size: 100% 100%;
    padding: 1em 10em;
  }

  /* style the navbar */
  nav {
    margin-top: -1em;
  }

  nav a {
    text-decoration: none;
    color: #172b4d;
    font-size: large;
    font-weight: 550;
  }

  nav a:focus {
    color: #008552;
  }

  .only-desktop {
    display: block;
  }

  .primary > h1 {
    font-size: 275%;
  }

  .supporting-text > p {
    font-size: 150%;
  }

  .disabled-btn {
    padding-top: 2em;
    padding-bottom: 7em;
  }

  /* Design the grid container for works section */
  .grid-layout {
    width: 95%;
    margin: 2em;
    -ms-grid-columns: repeat(3, minmax(300px, 1fr));
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 5px;
  }

  /* Add and fix pngs to the background */
  .png1 {
    background-image: url("img/desktop-bg/about-me-illustration1.png");
    background-size: 100%;
    background-position-y: -15px;
  }

  .png1 + h2 {
    padding: 0;
  }

  #about-me > p {
    text-align: center;
    padding: 0 5em;
    margin: 0;
  }

  .png2 {
    background-image: url("img/desktop-bg/about-me-illustration2.png");
    background-size: 20%;
  }

  /* Creat this class to remove elements which doesn't have to be in the desktop version. */
  .only-mobile {
    display: none;
  }

  /* make the form side by side with the description */
  .contact-section {
    display: block;
    padding-top: 2em;
  }

  #contact-section h2 {
    float: left;
    width: 40%;
    text-align: left;
  }

  form {
    float: left;
    margin-right: 1em;
  }

  form input,
  form textarea {
    width: 100%;
  }

  #form button {
    margin-left: 12px;
  }

  .contact-section > .social-media-icons {
    clear: both;
    padding-top: 5em;
  }

  /* Add background PNGs to contact form */
  #contact-section {
    background-image: url("img/desktop-bg/contact-form-illustration1.png"),
      url("img/desktop-bg/contact-form-illustration2.png"),
      url("img/desktop-bg/contact-form-illustration3.png");
    background-repeat: no-repeat;
    background-position: left 325px, 200px 385px, right 280px;
    background-size: 130px;
  }

  .project-placeholder img:hover {
    transform: scale(1.05);
  }

  /* moves slightly the contact form description to the right when the user hovers it */
  .contact-description:hover {
    transform: translate(1em);
    transition: 1.5s;
  }

  .flex-row-header > li:hover {
    transform: rotate(360deg);
    transition: 1.5s;
  }
}
